@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 18px;
}

aside {
    background-color: rgba(0, 0, 0, 0.656);
    /* transform: translateX(100%); */
}

.aside-content {
    width: 65%;
}

.header-text {
    font-size: .9rem;
}

footer {
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.187);
}